html, body, .row {
    @media (min-width: 1050px) {
        height: fit-content;
    }
}

body {
    background-color: #00E508;
    overflow-x: hidden;
}

ul {
    padding: 0;
}

.text-red {
    color: red;
}

.btn {
    &.btn-link {
        background-color: black;
        border-radius: 40px;
        padding: 12px 20px;
        text-decoration: none;
        color: white;
    }
}

.flex-middle {
    display: flex;
    align-items: center;
    max-width: fit-content;
    font-weight: bold;
    font-size: 18px;
}

.justify-items-center {
    justify-items: center;
}

.sign-container {
    position: relative;

    .sign-text {
        text-align: center;
        color: white;
        font-size: 10px;
        position: absolute;
        bottom: 48px;
        left: 32px;
        width: 52%;
        height: auto;

        @media (min-width: 325px) {
            font-size: 12px;
            width: 52%;
            bottom: 48px;
        }

        @media (min-width: 440px) {
            font-size: 18px;
            width: 58%;
            bottom: 62px;
        }

        @media (min-width: 700px) {
            font-size: 22px;
            width: 55%;
            bottom: 100px;
        }

        @media (min-width: 700px) {
            font-size: 26px;
            width: 55%;
            bottom: 125px;
        }

        @media (min-width: 850px) {
            font-size: 26px;
            width: 55%;
            bottom: 160px;
        }

        @media (min-width: 900px) {
            font-size: 26px;
            width: 50%;
            bottom: 160px;
        }

        @media (min-width: 1025px) {
            font-size: 26px;
            width: 45%;
            bottom: 160px;
        }

        @media (min-width: 1200px) {
            font-size: 26px;
            width: 60%;
            bottom: 105px;
        }

        @media (min-width: 1360px) {
            font-size: 28px;
            width: 60%;
            bottom: 124px;
        }

        @media (min-width: 1360px) {
            font-size: 28px;
            width: 60%;
            bottom: 124px;
        }

        @media (min-width: 1460px) {
            font-size: 30px;
            width: 55%;
            bottom: 124px;
        }

        @media (min-width: 1555px) {
            font-size: 32px;
            width: 50%;
            bottom: 124px;
        }

        @media (min-width: 2000px) {
            font-size: 32px;
            width: 42%;
            bottom: 124px;
        }
    }
}